.index {
	// HEADER 
	&-header {
		width: 100%;
		position: fixed;
		z-index: 100;
		&__left {
			position: fixed;
			z-index: 100;
			background: rgba(28, 36, 57, 0.8);
			height: 100%;
			padding: 47px 37px 47px 50px;
			overflow: auto;
			&-menu {
				margin-top: 58px;
				&-list {
					list-style-type: none;
					padding: 0;
					margin: 0;
					&-item {
						display: block;
						&:not(:last-child) {
							margin-bottom: 51px;
						}
						&-link{
							border-bottom: 1px solid transparent;
							color: #fff;
							font-size: 19px;
							font-weight: 600;
							text-transform: uppercase;
							@include transition(all 0.2s ease-in-out);
							&:hover,
							&:focus,
							&.current {
								color: #fff;
								border-bottom: 1px solid $ruby;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		&__top {
			color: #fff;
			position: fixed;
			z-index: 100;
			margin: 79px 0 79px 471px;
			width: calc(100% - 471px);
			padding-right: 60px;
			// padding-bottom: 79px;
			@include display(flex);
			@include justify-content(space-between);
			.fa {
				position: relative;
			}
			&-block {
				display: inline-block;
				vertical-align: top;
				max-width: 390px;
				&-address {
					color: #fff;
					display: block;
					font-size: 20px;
					margin: 0;
					font-weight: 300;
					margin-left: 36px;
				}
				&-devider,
				&-phone {
					color: #fff;
					font-weight: bold;
					font-size: 23px;
					&:hover,
					&:focus {
						color: #fff;
						text-decoration: none;
					}
				}
				&-phone {
					margin-left: 10px;
				}
				&-email {
					color: #fff;
					margin-left: 10px;
					font-size: 20px;
					border-bottom: 1px solid $ruby;
					@include transition(all 0.2s ease-in-out);
					&:hover,
					&:focus {
						color: #fff;
						border-bottom: 1px solid transparent;
						text-decoration: none;
					}
				}
				&-enter {
					color: #fff;
					font-weight: 300;
					border-color: #fff;
					font-size: 20px;
					padding: 19px 29px;
					margin-top: -19px;
					.fa {
						margin-right: 10px;
					}
				}
			}
		}
	}
	// / HEADER 

	// BODY 
	&-section {
		width: 100%;
		height: 100vh;
		background-size: cover!important;
		z-index: 1;
		position: relative;
		padding: 180px 0 40px 465px;
		background: #172e38;
		&:before {
			content: '';
			@include position(absolute, 0 null null 0);
			width: 100%;
			height: 100%;
			background: rgba(23, 46, 56, 0.6);
			z-index: 0;
		}
		&__description {
			padding-right: 60px;
			margin-top: 40px;
			&-text {
				color: #fff;
				margin-bottom: 35px;
			}
			&-img {
				margin-top: -40px;
				display: block;
			}
		}
		&__title {
			display: block;
			color: #fff;
			font-weight: 300;
			font-size: 70px;
			margin-bottom: 5px;
		}
		&__center {
			position: relative;
			height: 100%;
		}
		&--plane {
			&:after {
				content: '';
				@include position(absolute, null 30px 0 null);
				width: 443px;
				height: 614px;
				background: url(../img/plane-index-1.png) 0 0 no-repeat;
				pointer-events: none;
			}
		}
		&--plane-second {
			&:after {
				content: '';
				@include position(absolute, null 0 24% null);
				width: 514px;
				height: 629px;
				background: url(../img/plane-index-2.png) 0 0 no-repeat;
				pointer-events: none;
				z-index: 0;
			}
		}
		&--plane-four {
			&:after {
				content: '';
				@include position(absolute, null 0 0 null);
				width: 445px;
				height: 451px;
				background: url(../img/plane-index-4.png) 0 0 no-repeat;
				pointer-events: none;
				z-index: 0;
			}
		}
		&__advantages {
			@include position(absolute, null 60px 68px 471px);
			z-index: 100;
			@include display(flex);
			@include justify-content(space-between);
			@include align-items(center);
			&-block {
				// width: 100%;
				&-img {
					margin-right: 20px;
					float: left;
				}
				&-title {
					display: inline-block;
					color: #fff;
					font-size: 17px;
				}
			}
			
		}
	}
	// / BODY 

	// footer 
	&-footer {
		padding: 58px 35px 50px 35px!important;
		.footer {
			&__menu {
				&-item {
					width: 23%;
				}
			}
		}
	}
}





.breadcrumbs {
	margin: 0 0 20px 0;
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		&-item {
			display: inline-block;
			vertical-align: top;
			position: relative;
			padding-right: 32px;
			margin-right: 7px;
			&:not(:last-child) {
				&:before {
					content: '';
					@include position(absolute, 4px 0 null null);
					background: url(../img/bk-devider.png) 0 0 no-repeat;
					width: 21px;
					height: 13px;
				}
			}
			&-link {
				color: $darkBlue;
				text-decoration: none;
				border-bottom: 1px solid $ruby;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 12px;
				@include transition(all 0.2s ease-in-out);
				&:hover,
				&:focus {
					border-bottom: 1px solid transparent;
					color: $darkBlue;
					text-decoration: none;
				}
				&--current {
					border-bottom: 1px solid transparent;
				}
			}
		}
	}
}
.flex-section {
	@include display(flex);
	&__sidebar {
		width: 320px;
		background: #1c2439;
		padding: 32px 40px;
		position: relative;
		&:before {
			content: '';
			@include position(absolute, null null 0 -100px);
			background: url(../img/plane.png) 0 0 no-repeat;
			width: 268px;
			height: 825px;
			pointer-events: none;
		}
		&-block {
			padding-bottom: 20px;
			&-title {
				color: #fff;
				display: block;
				font-weight: bold;
				font-size: 22px;
				line-height: 28px;
				margin: 0 0 28px;
				&--black {
					color: $main-color;
				}
			}
			&--light-blue {
				margin: 0px -40px;
				padding: 32px 40px;
				background: $lightBlue;
			}
			&--yellow {
				margin: 0px -40px;
				padding: 32px 40px;
				background: $yellow;
			}
			&-table {
				width: 100%;
				tr {
					td {
						font-size: 16px;
						color: #fff;
						vertical-align: middle;
						padding-bottom: 10px;
					}
					td:first-child {
						color: $ruby;
						font-weight: bold;
						font-size: 22px;
						width: 44%;
					}
				}
			}
		}
		&-menu {
			list-style-type: none;
			padding: 0;
			margin: 0 0 20px;
			border-top: 1px solid #2d3854;
			&-item {
				display: block;
				&-link {
					color: rgba(255,255,255,0.9);
					font-size: 17px;
					padding: 15px 0;
					display: block;
					border-bottom: 1px solid #2d3854;
					@include transition(all 0.2s ease-in-out);
					&.current {
						color: #fff;
						font-weight: 600;
						border-bottom: 1px solid $ruby;
					}
					&:hover,
					&:focus {
						color: #fff;
						border-bottom: 1px solid $ruby;
						text-decoration: none;
					}
				}
			}
		}
		&-feedback {
			&-title {
				font-weight: 600;
				font-size: 18px;
				margin: -2px 0 12px 0;
				text-transform: uppercase;
			}
			&-preview {
				font-size: 16px;
				margin: 0 0 15px;
				font-weight: 300;
				line-height: 26px;
			}
			&-author {
				font-size: 12px;
				margin: 0 0 24px;
				display: block;
				.fa {
					margin-right: 10px;
				}
			}
		}
	}
	&__content {
		width: calc(100% - 320px);
		padding: 32px 0px 32px 49px;
		p {
			font-size: 18px;
			line-height: 28px;
		}
	}
}
.share {
	&-block {
		margin: 20px 0;
		border: 10px solid #faedec;
		padding: 17px 22px 12px 22px;
		&__title {
			font-size: 15px;
			display: inline-block;
			vertical-align: top;
			margin-right: 6px;
		}
	}
}
.block-with-text {
	position: relative;
	overflow: hidden;
	&:before {
	    content: '';
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    box-shadow: inset 0px -50px 60px rgba(0, 0, 0, 0.64);
	}
	&__value {
		color: #fff;
		font-size: 17px;
		padding: 20px;
		@include position(absolute, null null 0 0);
	}
}
.blockqoute {
	position: relative;
	padding: 0 63px;
	margin: 20px 0 30px 0;
	&:before {
		content: '';
		@include position(absolute, 9px null null 3px);
		background: url(../img/quote.png) 0 0 no-repeat;
		width: 28px;
		height: 21px;
	}
	&:after {
		content: '';
		@include position(absolute, null 9px 20px null);
		background: url(../img/quote-inv.png) 0 0 no-repeat;
		width: 28px;
		height: 21px;
	}
	&__text {
		font-size: 17px;
		display: block;
	    line-height: 30px;
	    margin: 0 0 10px 0;
	}
	&__author {
		display: block;
		font-size: 15px;
		.fa {
			margin-right: 11px
		}
	}
	&-wrap {
		border: 3px solid $ruby;
		border-radius: 3px;
		padding: 5px 30px;
	}
}
.review-section {
	margin: 42px 0;
	&__block {
		margin-bottom: 30px;
		&-img {
			float: left;
			max-width: 69px;
			margin-bottom: 10px;
		}
		&-description {
			margin: 0 70px 0 96px;
			&--form {
				margin: 0 0 0 96px;
			}
			&-author {
				font-family: $circle;
				font-weight: bold;
				display: block;
				margin-bottom: 8px;
				font-size: 18px;
			}
			&-text {
				font-family: $circle;
				display: block;
				margin-bottom: 10px;
				line-height: 23px;
			}
			&-area {
				width: 100%;
				display: block;
				font-family: $circle;
				background:#fbfbfb;
				resize: none;
				color: #000;
				padding: 18px 20px;
				height: 170px;
				border: none;
			}
		}
		&-rating {
			background: $gray;
			float: right;
			width: 60px;
			height: 25px;
			border-radius: 13px;
			text-align: center;
			&-btn {
				color: #000;
				top: -2px;
				position: relative;
				background: none;
				border:none;
				display: inline-block;
				vertical-align: top;
				width: 20px;
				padding: 0;
				height: 100%;
			    font-weight: bold;
			}
			&-value {
				margin-right: -6px;
				width: 20px;
				height: 100%;
				line-height: 24px;
				text-align: center;
				color: #000;
				display: inline-block;
				font-family: $circle;
				font-weight: bold;
				font-size: 14px;
				vertical-align: top;
			}
		}
	}
}
.programm-accordion {
	box-shadow: 0 13px 98px rgba(34, 34, 34, 0.11);
	margin: 45px 0;
	&__item {
		&:not(:last-child) {
			border-bottom: 1px solid $gray;
		}
		&-header {
			padding: 20px 38px 26px 38px;
			min-height: 270px;
			@include transition(all 0.2s ease-in-out);
			background: #fff;
			&:not(.collapsed) {
				overflow: hidden;
				position: relative;
				z-index: 2;
				@include display(flex);
				@include align-items(flex-end);
				@include flex-wrap(wrap);
				@include align-content(flex-end)
				&:before {
					content: '';
					z-index: 1;
					@include position(absolute, 0 0 0 0);
					width: 100%;
					height: 100%;
					box-shadow: inset 0 -77px 44px rgba(0,0,0,0.4);
				}
				.programm-accordion__item-header-preview,
				.programm-accordion__item-header-title {
					color: #fff;
					width: 100%;
					z-index: 5;
				}
				.programm-accordion__item-header-preview {
					padding-right: 80px;
				}
				.programm-accordion__item-header-title {
					font-size: 40px;
					font-weight: 300;
					z-index: 10;
				}
				.programm-accordion__item-header-img {
				    opacity: 1;
				    height: 100%;
				    max-height: 100%;
				}
				.fa {
					display: none;
				}
				.programm-accordion__item-header-close {
					display: block;
				}
			}
			&.collapsed {
				min-height: 1px;
				cursor: pointer;
				&:hover {
					background: $ruby;
					.programm-accordion__item-header-preview,
					.programm-accordion__item-header-title {
						color: #fff;
					}
					.fa {
						color: #fff;
					}
				}
				
			}
			&-title {
				font-size: 24px;
				color: $main-color;
				display: block;
				margin: 0 0 4px;
				.fa {
					float: right;
					color: $ruby;
					margin-top: 5px;
				}
			}
			&-preview {
				font-weight: 300;
			}
			&-img {
				@include transition(opacity 0.2s ease-in-out);
				opacity: 0;
				max-height: 0px;
				@include position(absolute, 0 0 0 0);
			    z-index: -1;
			    width: 100%;
			    height: 100%;
			}
			&-close {
				color: #fff;
				font-weight: 300;
				border-bottom: 1px dashed #fff;
				float: right;
				margin-top: 5px;
				font-size: 16px;
				display: none;
				cursor: pointer;
				@include position(absolute, null 40px 26px null);
				z-index: 10;
				&:hover {
					border-bottom: 1px solid transparent;
				}
			}
		}
		&-body {
			padding: 20px 38px 26px 38px;
			&-block {
				padding: 35px 0;
				&:not(:last-child) {
					border-bottom: 1px solid $gray;

				}
				&-title {
					font-size: 30px;
					font-weight: normal;
					display: block;
					margin-bottom: 20px;
				}
				&-preview {
					display: block;
					margin-bottom: 20px;
				}
				&-price {
					&-old {
						font-size: 20px;
						font-weight: 500;
						display: inline-block;
						margin-right: 20px;
						color: #9e9e9e;
						position: relative;
						&:before {
							content: '';
							@include position(absolute, 13px null null 0);
							width: 100%;
							height: 2px;
							background: #9e9e9e;
							@include transform(rotate(-12deg));
						}
						.fa {
							margin-left: 5px;
							font-size: 85%;
						}
					}
					&-current {
						font-size: 35px;
						font-weight: 600;
						display: inline-block;
						margin-right: 20px;
						.fa {
							margin-left: 5px;
							font-size: 85%;
						}
						&--action {
							color: $ruby;
						}
					}
					&-order {
						vertical-align: top;
					}
				}
			}
		}
	}
}
.error-page {
	padding: 60px 0 80px;
	position: relative;
	text-align: center;
	&:before {
		content: '';
		@include position(absolute, null null 0 0px);
		background: url(../img/plane.png) 0 0 no-repeat;
		width: 268px;
		height: 225px;
		pointer-events: none;
	}
	&__title {
		font-size: 130px;
		font-weight: bold;
		color: $ruby
	}
	&__text {
		font-size: 18px;
	}
}
.slider-section {
	// margin-top: 14%;
	margin: -180px 0 -40px -465px;
	// padding-top: 13%;
	.bx-wrapper .bx-controls-direction a {
		width: 29px;
		height: 55px;
	}
	.bx-wrapper .bx-prev {
		left: auto;
		right: 120px;
	}
	.bx-wrapper .bx-next {
		right: 60px;
	}
	&__block {
		&-item {
			padding: 18% 0 40px 465px;
			height: 100vh;
			background-size: cover!important;
			&:before {
				content: '';
				@include position(absolute, 0 null null 0);
				width: 100%;
				height: 100%;
				background: rgba(23, 46, 56, 0.6);
				z-index: -1;
			}
			&-title {
				display: block;
				color: #fff;
				font-weight: 300;
				font-size: 70px;
				margin-bottom: 5px;
			}
			&-text {
				display: block;
				color: #fff;
				font-size: 24px;
				font-weight: 300;
				margin-bottom: 34px;
			}
			&-btn {
				font-size: 19px;
				font-weight: bold;
				text-transform: uppercase;
				padding: 24px 42px;
			}
		}
	}
}
.course-section {
	margin-top: 50px;
	@include display(flex);
	@include flex-wrap(wrap);
	padding-right: 60px;
	position: relative;
	z-index: 10;
	&__block {
		padding: 30px 40px;
		float: none;
		text-decoration: none;
		@include transition(all 0.2s ease-in-out);
		@include display(flex);
		@include align-items(center);
		min-height: 205px;
		&--bg-blue {
			background: rgba(28,36,57,0.9);
		}
		&--bg-red {
			background: rgba(255, 51, 51, 0.9);
			&:hover {
				background: rgba(28,36,57,0.9)!important;
			}
		}
		&--bg-yellow {
			background: rgba(245, 221, 0, 0.9);
			.course-section__block-description-title,
			.course-section__block-description-text {
				color: #000
			}
			&:hover {
				.course-section__block-description-title,
				.course-section__block-description-text {
					color: #fff;
				}
			}
		}
		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
			background: rgba(255, 51, 51, 0.9);
		}
		&-img {
			float: left;
			margin-right: 25px;
		}
		&-description {
			// margin-left: 99px;
			&-title {
				text-transform: uppercase;
				color: #fff;
				font-size: 20px;
				font-weight: bold;
				display: block;
				margin-bottom: 10px;
				@include transition(all 0.2s ease-in-out);
			}
			&-text {
				color: #fff;
				font-weight: 300;
				display: block;
				@include transition(all 0.2s ease-in-out);
			}
		}
	}
}
.extra-advantages {
	margin-top: 100px;
	@include display(flex);
	@include flex-wrap(wrap);
	padding-right: 200px;
	position: relative;
	z-index: 10;
	&__block {
		padding: 20px 50px;
		min-height: 210px;
		@include display(flex);
		@include align-items(center);
		&--bg-white {
			background: #fff;
			.extra-advantages__block-text {
				color: #000;
			}
		}
		&-img {
			float: left;
		}
		&-text {
			display: block;
			margin-left: 27px;
			font-size: 30px;
			color: #fff;
			line-height: 37px;
			font-weight: 300;
		}
	}
}
.reviews-section {
	margin-top: 60px;
	// position: relative;
	&:before {
		content: '';
		@include position(absolute, null 0 -40px -190px);
		margin: 0 auto;
		width: 375px;
		height: 704px;
		background: url(../img/man.png) 0 0 no-repeat;
		z-index: 10;
		pointer-events: none;
	}
	&:after {
		content: '';
		@include position(absolute,  null 0 -40px -40px);
		margin: 0 auto;
		width: 271px;
		height: 780px;
		background: url(../img/plane-index-5.png) 0 0 no-repeat;
		z-index: 9;
		pointer-events: none;
	}
	.bx-wrapper {
		margin: 0
	}
	.bx-wrapper .bx-pager {
		text-align: left;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #fff;
		@include transition(all 0.2s ease-in-out);
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
		background: $ruby;
	}
	&__block {
		&-item {
			&-img {
				border: 29px solid #fff;
				margin-bottom: 19px;
			}
			&-title {
				color: #fff;
				font-size: 18px;
				margin: 0 0 13px;
				display: block;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 1px;
				line-height: 23px;
			}
			&-preview {
				font-weight: 300;
				margin: 0;
				display: block;
				color: #fff;
			}
		}
	}
}
.counts-section {
	margin: 50px 60px 39px 0;
	padding: 47px 36px;
	border: 1px solid #fff;
	@include display(flex);
	@include align-items(center);
	&__block {
		text-align: center;
		padding: 0 20px;
		width: 100%;
		margin-top: 8px;
		&:not(:last-child) {
			border-right: 1px solid #fff;
		}
		&-number {
			font-weight: 300;
			font-size: 80px;
			line-height: normal;
			display: block;
			line-height: 92px;
			color: #fff;
			margin-top: -15px;
		}
		&-text {
			font-size: 20px;
			line-height: normal;
			color: #fff;
			display: block;
			font-weight: 300;
		}
	}
}
.course-form {
	padding-right: 60px;
	&__top {
		margin-bottom: 25px;
		@include display(flex);
		@include justify-content(space-between);
		&-step {
			font-weight: 300;
			font-size: 34px;
			color: #fff;
			opacity: 0.7;
			width: 100%;
			letter-spacing: 1px;
			border-bottom: 2px solid #fff;
			padding-bottom: 25px;
			@include transition(all 0.2s ease-in-out);
			&.active {
				border-color: #e6d205;
				color: #fff;
				opacity: 1;
				text-decoration: none;
			}
			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
			}
			
			&:nth-child(2) {
				text-align: center;
			}
			&:last-child {
				text-align: right;
			}
		}
	}
	&__bottom {
		&-block {
			.bx-wrapper {
				margin: 0;
			}
			.bx-wrapper .bx-pager {
				padding-top: 0;
			}
			.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
				bottom: -20px;
			}
			.bx-wrapper .bx-pager.bx-default-pager a {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background: #fff;
				@include transition(all 0.2s ease-in-out);
			}
			.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
				background: $ruby;
			}
			&-slider {
				&-item {
					@include display(flex);
					height: 240px;
					background: #fff;
					&-img {
						background-size: cover!important;
					}
					&-description {
						padding: 27px 35px;
						&-title {
							color: #000;
							font-size: 35px;
							font-weight: 300;
							display: block;
							margin: 0 0 10px;
						}
						&-text {
							font-weight: 300;
							display: block;
							margin-bottom: 10px;
						}
						&-price {
							font-size: 35px;
							display: block;
						}
					}
				}
			}
		}
	}
}