html {
	height: 100%;
}
body {
    font-family: $main_font;
    font-weight: normal;
    height: 100%;
    font-size: 16px;
    color: $main_color;
    &.index {
    	overflow: hidden;
    	&.modal-open {
    		padding-right: 0 !important;
    	}
    }
}

label {
	font-weight: normal;
}
img {
	max-width: 100%;
}
a img {
	border: none;
}
button, input, textarea, select {
	outline: none;
}
.main-wrapper {
	overflow: hidden;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
	&:before {
		content: '';
		@include position(fixed, null 0 0 null);
		background: url(../img/plants.png) 0 0 no-repeat;
		width: 169px;
		height: 171px;
		pointer-events:none;
		z-index: -1;
	}
	&.index {
		&:before {
			display: none;
		}
	}
}
.content {
	padding-bottom: 30px;
}
.main-content {
	&.index {
		height: 100vh
	}
}
.onepage-pagination {
	display: none;
}