doctype html
include _vars
html(lang="ru")
	include _head
	body(class="#{index == true ? 'index':''}")
		if (index == true)
			.preloader
		.main-wrapper
			// шапка 
			include _header
			// конец шапка
			// контент
			.main-content(class="#{index == true ? 'index':''}")
				block content
			// конец контент
			// футер
			include _footer
			// конец футер
		// модальные окна
		include _modals
		// конец модальные окна
		// подключаемые скрипты
		include _script
		// конец подключаемые скрипты