- mainMenu = ["Курсы", "Лицензия", "Педагогический Состав", "График", "Образовательная организация", "Сертификация", "Контакты"]
- sideMenu = ["Аэродромные пожарные автомобили", "Дыхательные аппараты со сжатым воздухом", "Пенообразователи", "Оборудование для удаления (эвакуации) ВС"]
- email = "cprsga@mail.ru"
- phone1 = "(499) 922 45 03"
- phone2 = "(495) 971 42 92"