.breadcrumbs
	ul.breadcrumbs__list
		li.breadcrumbs__list-item
			a.breadcrumbs__list-item-link(href="/") Главная
		li.breadcrumbs__list-item
			a.breadcrumbs__list-item-link(href="/") Сертификаяция ФСТИО
		li.breadcrumbs__list-item
			span.breadcrumbs__list-item-link.breadcrumbs__list-item-link--current Дихайние аппарата со свежим воздухом